include README.md
include requirements.txt
include LICENSE
include sleeppy/test/test_data/demo.bin
include sleeppy/test/demo.py
include sleeppy/test/test_data/*
include sleeppy/test/test_colekripke.py
include sleeppy/test/test_majorrest.py
include sleeppy/test/test_sleeppy.py
include sleeppy/test/test_utils.py
